@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-primary{
  @apply dark:bg-black bg-white;
}
.text-primary{
  @apply text-black dark:text-white;
}
.border-primary{
  @apply dark:border-white border-black;
}
.bg-secondary{
  @apply dark:bg-gray-900 bg-gray-100;
}

.bg-secondary-hover:hover{
  @apply bg-secondary;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: rgba(255, 255, 255, 0.625);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background-color: rgba(8, 8, 8, 0.25);
  border-radius: 1rem;
}